[Desktop Entry]
Name=Foxit Reader
MimeType=application/pdf;application/vnd.fdf;application/vnd.adobe.pdx;application/vnd.adobe.xdp+xml;application/vnd.adobe.xfdf;
Exec=foxit %F
Type=Application
GenericName=PDF Viewer
GenericName[hu]=PDF-megjelenítő
Terminal=false
Icon=fx-icon
X-KDE-StartupNotify=false
Categories=Office;Viewer;
InitialPreference=7
