[Desktop Entry]
Type=Application
Name=UHU Documentation
Name[hu]=UHU dokumentáció
Comment=Some important information
Comment[hu]=Néhány fontosabb tudnivaló
Exec=kfmclient exec /usr/share/doc/UHU/index.html
Icon=uhu
OnlyShowIn=KDE;
Categories=Utility;Documentation;
