[Desktop Entry]
Name=sk1
Name[hu]=sk1
Comment=Create and edit vector graphics images
Comment[hu]=Vektorgrafikus képszerkesztő
Type=Application
Categories=Graphics;2DGraphics;VectorGraphics;
Exec=sk1
Terminal=false
StartupNotify=true
Icon=icon_sk1_48
