[Desktop Entry]
Type=Application
Name=Frozen Bubble
Exec=frozen-bubble
Comment=Shooting Game
Comment[hu]=Golyólövöldözés
Icon=/usr/share/frozen-bubble/gfx/menu/small_ping.png
Categories=Game;ArcadeGame;
