[Desktop Entry]
Name=SuperTuxKart
Comment=Gokart game
Comment[hu]=Gokart játék
Exec=supertuxkart
Icon=/usr/share/pixmaps/supertuxkart_64.xpm
Terminal=false
StartupNotify=false
Type=Application
Categories=Game;ArcadeGame;
