[Desktop Entry]
Name=SuperTuxKart
Comment=Gokart game
Comment[hu]=Gokart játék
Exec=supertuxkart
Icon=supertuxkart_128
Terminal=false
StartupNotify=false
Type=Application
Categories=Game;ArcadeGame;
