[Desktop Entry]
Name=Citrix ICA Client
Comment=Connect to BME Neptun
Comment[hu]=Csatlakozás a BME Neptun rendszerhez
Exec=neptun
Icon=/usr/lib/ICAClient/icons/ica48.xpm
Type=Application
Categories=Network;
