[Desktop Entry]
Type=Application
Name=X64
Comment=C64 emulator
Comment[hu]=C64 emulátor
Exec=x64
Icon=VICE
Categories=Game;Emulator;X-UHU-Menu/Tools/Emulators;
