[Desktop Entry]
Categories=AudioVideo;Video;Player;TV;X-UHU-Menu/Multimedia/VideoPlayers;
Comment[hu]=VDR xbmc felülettel
Comment=VDR+XBMC
Exec=vdrxbmc
Icon=vdrxbmc
Name=xbmc+vdr
StartupNotify=true
Terminal=true
Type=Application
Version=1.0
