[Unit]
Description=Set time via SNTP
After=network-online.target
Before=time-sync.target
Wants=time-sync.target network-online.target

[Service]
Type=oneshot
EnvironmentFile=/etc/sysconfig/sntp
ExecStart=/usr/sbin/sntp $OPTIONS
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
