[Desktop Entry]
Type=Application
Name=Jasspa
Comment=MicroEmacs
Comment[hu]=MicroEmacs
Exec=me %F
Icon=/usr/share/pixmaps/me.xpm
Terminal=false
Categories=Utility;TextEditor;
