[Desktop Entry]
Name=Apache Directory Studio
Comment=LDAP client with many features
Comment[hu]=Sok funkcióval ellátott LDAP kliens
Exec=apache-directory-studio
Icon=/usr/share/pixmaps/ApacheDirectoryStudio.xpm
Type=Application
Terminal=false
StartupNotify=true
Categories=GTK;Development;Database;
