[Desktop Entry]
Name=ReText
GenericName=Simple text editor for Markdown syntax
Comment=retext editor
Comment[hu]=Egyszerű "Markdown" szerkesztő
Exec=retext
Icon=retext
Terminal=false
Type=Application
Categories=Office;
