[Desktop Entry]
Name=XMaxima
GenericName=Mathematical package
GenericName[hu]=Matematikai programcsomag
Comment=High-level mathematical package
Comment[hu]=Magasszintű szimbolikus matematikai programcsomag
Exec=xmaxima
Icon=/usr/share/maxima/5.21.0/xmaxima/maxima-icon.png
StartupNotify=true
Terminal=false
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Science;Math;
