[Desktop Entry]
Name=tkpaint
Comment=tk draw
Comment[hu]=Rajzoló
Exec=tkpaint
Terminal=false
Icon=/usr/lib/tkpaint/tkpaint.jpg
Type=Application
Categories=Graphics;2DGraphics;
X-UHU-Major=-1
