[Desktop Entry]
Name=TheIDE
GenericName=TheIDE
Comment=IDE for cross-platform C++ development 
Comment[hu]=Platformfüggetlen C++ fejlesztői környezet
MimeType=application/x-upp;
Exec=upp
Icon=theide
Terminal=false
Type=Application
Categories=Development;IDE;
StartupNotify=false
