[Desktop Entry]
Name=gexif
Comment=Show Exif information
Comment[hu]=Exif információk megjelenítése
Exec=gexif
Type=Application
Categories=Graphics;Photography;
