[Unit]
Description=Subversion protocol daemon
After=syslog.target network.target

[Service]
EnvironmentFile=/etc/sysconfig/svnserve
ExecStart=/usr/bin/svnserve --daemon $OPTIONS

[Install]
WantedBy=multi-user.target
