[Desktop Entry]
Categories=Qt;System;
Comment[hu_HU]=A rendszer telepítése hálózattal, csomag választással
Comment=System installer with network and package selections
Exec=calamares.net
GenericName[hu_HU]=Rendszertelepítő
GenericName=System installer
Icon=calamares
Keywords=calamares;system;installer
Name[hu_HU]=Calamares.net
Name=Calamares.net
StartupNotify=true
Terminal=true
TryExec=calamares.net
Type=Application
