[Desktop Entry]
Categories=Qt;System;
Comment[hu_HU]=A rendszer telepítése hálózat nélkül
Comment=System installer offline
Exec=calamares.live
GenericName[hu_HU]=Rendszer telepítő
GenericName=System installer offline
Icon=calamares
Keywords=calamares;system;installer
Name[hu_HU]=Calamares.live
Name=Calamares.live
StartupNotify=true
Terminal=false
TryExec=calamares.live
Type=Application
X-KDE-SubstituteUID=false
