[Desktop Entry]
Name=Wolfenstein: Enemy Territory
Comment=A team-based multiplayer WWII tactical first-person shooter
Comment[hu]=Csapat alapú első személyes lövöldöző játék 
Icon=/usr/share/pixmaps/enemy-territory.xpm
Exec=enemy-territory
Terminal=false
Type=Application
Categories=Game;ActionGame;
StartupNotify=false
