[Desktop Entry]
Type=Application
Name=Marave
Exec=marave-editor
Icon=/usr/share/icons/marave.svg
Categories=GTK;GNOME;Office;WordProcessor;X-UHU-Menu/Tools/Word_Processors;
