[Desktop Entry]
Name=XPN
GenericName=Newsreader
GenericName[hu]=Hírolvasó
Comment=Multi-platform newsreader with Unicode support
Comment[hu]=Többplatformos hírolvasó Unicode támogatással
Terminal=false
Type=Application
Exec=xpn -d
Icon=/usr/lib/xpn/pixmaps/xpn-icon.png
StartupNotify=false
Categories=GTK;Network;News;
