[Desktop Entry]
Type=Application
Name=Eclipse
Comment=Java development environment
Comment[hu]=Java fejlesztői környezet
Exec=eclipse
Icon=/usr/share/pixmaps/eclipse.jpg
Terminal=false
Categories=Development;IDE;
