[Unit]
Description=SASL authentication daemon.
After=syslog.target 

[Service]
Type=forking
PIDFile=/var/run/saslauthd/saslauthd.pid
ExecStart=/usr/sbin/saslauthd -a pam

[Install]
WantedBy=multi-user.target
