[Desktop Entry]
Name=SweetHome3D
Comment=An interior design application
Comment[hu]=Lakberendező program
Exec=sweethome3d
Icon=/usr/share/pixmaps/SweetHome3DIcon.gif
Type=Application
Terminal=false
Categories=Java;Graphics;3DGraphics;
