[Desktop Entry]
Type=Application
Name=The Easiest Game Around The World
Exec=theeasiestgamearoundtheworld
Comment=In this game only You can win...
Comment[hu]=Ebben a programban csak Te nyerhetsz...
Icon=/usr/lib/theeasiestgamearoundtheworld/hunter4.gif
Categories=Game;ArcadeGame;
