[Desktop Entry]
Type=Application
Name=Vim
Comment=Vi IMproved, console version
Comment[hu]=Vim, szöveges változat
Exec=vim %F
Icon=/usr/share/pixmaps/vim_small.gif
Terminal=true
Categories=Utility;TextEditor;ConsoleOnly;
X-UHU-Major=-1
