[Desktop Entry]
Type=Application
Name=Descent II
Exec=descent2
Comment=Spacewar in the future
Comment[hu]=Űrháború egy labirintusban
Categories=Game;ActionGame;
