[Desktop Entry]
Type=Application
Name=Spyder
GenericName=IDE
Comment=Spyder Python IDE
Exec=spyder
Icon=/usr/share/pixmaps/spyder.svg
Terminal=false
Categories=Qt;Development;IDE;
StartupNotify=false
