[Desktop Entry]
Name=HedgeWars
Comment=Worms clone
Comment[hu]=Worms klón
Exec=hedgewars
Icon=/usr/share/hedgewars/Data/Graphics/Hedgehog/amAirAttack.png
Terminal=false
Type=Application
Categories=Game;ActionGame;
StartupNotify=true
