[Desktop Entry]
Type=Application
Name=GeoGebra
GenericName=Dynamic mathematics
GenericName[cs]=Dynamický matematický
GenericName[da]=Dynamisk matematisk
GenericName[de]=Dynamische Mathematik
GenericName[el]=Δυναμική μαθηματικών
GenericName[en]=Dynamic mathematics
GenericName[es]=Matemáticas dinámicas
GenericName[et]=Dynamic matemaatilise
GenericName[fi]=Dynamic matemaattinen
GenericName[fr]=Géométrie dynamique
GenericName[hr]=Dinamički matematički
GenericName[hu]=Dinamikus matematikai szoftver
GenericName[it]=Matematica dinamica
GenericName[nl]=Dynamische wiskundige
GenericName[no]=Dynamisk matematiske
GenericName[pl]=Dynamiczne matematyczne
GenericName[pt]=Matemática dinâmica
GenericName[ru]=Динамические математические
GenericName[sl]=Dynamic matematičnih
GenericName[sk]=Dynamický matematický
GenericName[sr]=Динамички математички
GenericName[tr]=Dinamik matematiksel
Comment=Joins geometry, algebra and calculus
Comment[cs]=Splňuje geometrie, algebra a kalkul
Comment[da]=Opfylder geometri, algebra og calculus
Comment[de]=Geometrie, Algebra und Analysis verbindet
Comment[el]=Συνάντηση γεωμετρία, άλγεβρα και λογισμό
Comment[en]=Joins geometry, algebra and calculus
Comment[es]=Se une a la geometría, álgebra y cálculo
Comment[et]=Meets geomeetria, algebra ja analüüs
Comment[fi]=Täyttää geometria, algebra and calculus
Comment[hr]=Zadovoljava geometrija, algebra i kamenca
Comment[hu]=Interaktív matematikai szerkesztések és appletek létrehozása
Comment[fr]=Réunit géométrie, algèbre et calcul différentiel
Comment[it]=Comprende geometria, algebra e analisi
Comment[nl]=Voldoet aan meetkunde, algebra en calculus
Comment[no]=Oppfyller geometri, algebra og kalkulus
Comment[pl]=Spełnia geometrii, algebry i rachunku
Comment[pt]=Reúne geometria, álgebra e cálculo
Comment[ru]=Соответствует геометрия, алгебра и исчисление
Comment[sl]=Izpolnjuje geometrije, algebre in calculus
Comment[sk]=Spĺňa geometria, algebra a kalkul
Comment[sr]=Задовољава геометрија, алгебра и каменца
Comment[tr]=Toplandı geometri, cebir ve hesap
Exec=geogebra %F
Icon=geogebra
Terminal=false
StartupNotify=true
StartupWMClass=geogebra-GeoGebra
Categories=Education;Math;
MimeType=application/vnd.geogebra.file;application/vnd.geogebra.tool;
