[Desktop Entry]
Type=Application
Name=zx128emu
GenericName=zx128emu
Comment=Sinclair Spectrum zx128 emulator
Comment[hu]=Sinclair Spectrum zx128 emulátor
Exec=ep128emu -zx
Icon=zx128emu
Categories=Game;Emulator;
