[Desktop Entry]
Name=WineXS
Comment=Graphical frontend for Wine
Comment[hu]=Grafikus előtétprogram a Wine nevű Windows emulátorhoz
Type=Application
Exec=winexs
Icon=winexs
Terminal=false
StartupNotify=false
Categories=System;Emulator;
