[Desktop Entry]
Name=jave
Comment=java editor
Comment[hu]=Java Ascii sokoldalú szerkesztő
Exec=jave
Icon=/usr/share/java/jave/icons/javeicon.png
Terminal=false
Type=Application
Categories=Utility;TextEditor;
